        * {
            padding: 0;
            margin: 0;
        }     
        .clearfix:after {
            content: "";
            height: 0;
            display: block;
            clear: both;
        }
        a {
            text-decoration: none;
            color: #000;
        }
        ul,li,ol {
            list-style: none;
        }
        body {
            background: #f8f7f6;
            font-family: '微软雅黑';
        }
    
		#coreContext{
			width: 1180px;
			margin: 0 auto;
		}

        /*最顶部的导航-navTop*/
        #navTop a{
            font-size: 12px;
            color: #9a9791;
            margin-right: 19px;
        }/*设置最上边nav导航的所有a标签里的字都是12px，颜色都是一个灰色,向右拉出19px的距离*/

        #leftOneOfNav{
            display:inline-block;
            margin-top: 10px;
        }

        /*设置右边的一排小图和字rightOneOfNav*/
        #rightOneOfNav{
            float: right;
            height: 25px;
            margin-top: 7px; 
        }
        #rightOneOfNav a{
            vertical-align:middle;
        }
        .smallPicOfNav{
            display:inline-block;
            width: 19px;
            height: 19px;
        }
        #qq{
            background: url(../img/common_min.png) no-repeat 0 -31px;
        }
        #weChat{
            background: url(../img/common_min.png) no-repeat 0 -53px;
        }
        #weBo{
            background: url(../img/common_min.png) no-repeat 0 -75px;
        }
        #xiaoxi{
            display:inline-block;
            width: 19px;
            height: 10px;
            background: url(../img/common_min.png) no-repeat 0 -117px;
        }
        #dingdan{
            display:inline-block;
            width: 14px;
            height: 15px;
            background: url(../img/dingdan.jpg) no-repeat;
        }
        #shouji{
            display:inline-block;
            width: 8px;
            height: 14px;
            background: url(../img/tp-my-phone.png) no-repeat;
        }
        #gouwuche{
            display:inline-block;
            width: 18px;
            height: 16px;
            background: url(../img/gouwuche.jpg) no-repeat;
        }
        #numberOfgouwuche{
            color: #fe6c00;
            font-weight: bold;
        }

        /*最顶部的导航-navBottom*/
        #imgOfnavBottom{
            margin-top: 19px;
            margin-right: 100px;
            float: left;
        }
        #searchKuang{
            height: 40px;
            width: 493px;
            margin-top: 29px;
            float: left;
            border-width: 2px;
            border-color: #fe6c00;
            color: #9a9791;
            font-size: 13px;
        }
        #searchButton{
            margin-top: 29px;
            margin-right: 90px;
            width: 82px; 
            height: 44px;
            color: white;
            border-width: 0px;
            background-color: #fe6c00;
            border-radius: 0px;
            font-size: 16px;
        }
        .rightOfnavBottom{
            float: right;
            width: 88px; 
            height: 42px;
            margin-top: 29px;
            border: 1px solid #e6e5e2;
            text-align: center;
        }
        .rightOfnavBottom a{
            display: inline-block;
            font-size: 12px;
            color: #9a9791;
        }
  
        #oneBottom{
            display: inline-block;
            width: 18px;
            height: 15px;
            background: url(../img/common_min.png) no-repeat 0 -98px;
            margin-top: 5px;
        }
        #twoBottom{
            display:inline-block;
            width: 19px;
            height: 10px;
            background: url(../img/common_min.png) no-repeat 0 -117px;
            margin-top: 8px;
        }
        #threeBottom{
            background-color: #fe6c00;
            line-height: 42px;
        }
        #threeBottom a{
            color: white;
            font-size: 13px;
        }

        /*最顶部的导航-navLower*/
        #navLower{
            margin-left: 242px;
            margin-top: 12px;
        }
        #navLower ul li{
            float: left;
            border-right: 1px solid #e6e5e2;
            padding-right: 10px;
            padding-left: 10px;
            font-size: 11px;
        }
        #navLower ul li a{
            color: #9a9791;
        }
        #navLower ul li:last-child{
            border-right: 1px solid white;
            padding-right: 0px;
        }
        
        /*页面中间靠上部分的横条*/
        #scannerTop{
            width:1280px;
            height:40px;
            background-color: black;
            position: relative;
            top:8px;
            left: -60px;
        }
        #scannerTop ul{
            position: relative;
            left: 60px;
            width:1180px;
            height:40px;
        }
        #scannerTop ul li:first-child{
            width: 95px;
            background-color: red;
        }
        #scannerTop ul li{
            width: 125px;
            float: left;
            text-align: center;
            line-height: 40px;
            height:40px;
        }
        #scannerTop ul li a{ 
            color: white;
            font-size: 13px;
        }
        #scannerTop ul li:last-child{
            width: 164px;
            padding-left: 45px;
        }

        /*页面中间靠上部分的横条下边的文字*/
        #textOfScannerTop{
            height:40px;
            margin-top: 8px;
            line-height: 40px;
            font-size: 12px;
        }
        
        /*页面中间部分*/
            /*页面中间部分偏左部分*/
        #scannerMiddle{
            position: relative;
            background-color: white;
        }
        #scannerMiddle #scannerRight{
            float: right;
        }
        #scannerMiddle #scannerLeft{
            float: left;
            width: 408px;
            height:408px;
            position:absolute;
            left:20px;
            top:20px;
            border: 1px solid #d0cdc7;
        }
        #slider{
            width:150px;
            height:150px;
            position:absolute;
            left:0;
            top:0;
            background:#CCC;
            opacity:0.4;
            cursor: move;
            display:none; 
            filter:alpha(opacity=40);
        }
        #scannerMiddle #img2{
            position:absolute;
            left:430px;
            top:20px;
            display:none; 
            width:408px;
            height:408px;
            overflow:hidden;
            z-index: 2;
        }
        #Bimg{
            position:absolute;
            left:0;
            top:0;
        }
        #scannerMiddle #verySmallPic{
           width: 408px;
           position:absolute;
           left:20px;
           top:452px;
        }
        #scannerMiddle #rightOfVerySmallPic{
            float: right;
        }

        /*页面中间部分*/
            /*页面中间部分正中部分*/
        #scannerZhongjian{
            width: 550px;
            height:600px;
            position:absolute;
            left:430px;
            top:20px;
            padding-left: 20px;
            z-index:1;
        }
        #ssmallTextOfZhongjian{
            font-size: 12px;
            color: #676660;
            padding-bottom: 30px;
            padding-top: 12px;
            line-height:1.5em; 
            width: 465px;
        }
        #shanchuxian{
            text-decoration:line-through;
            font-size: 12px;
        }
        #jiage{
            font-size: 12px;
            padding-left: 20px;
        }
        #xianjia{
            font-size: 16px;
            color: red;
            padding-left: 50px;
            padding-right: 25px;
        }
        #jinghanliang{
            font-size: 12px;
            padding-left: 25px;
            float: left;
        }
        #haosheng{
            margin-left: 25px;
            float: left;
            width: 420px;
        }
        #haosheng li{
            float: left;
            font-size: 12px;
            width:63px; 
            height:29px;
            line-height: 29px;
            text-align: center;
            cursor: pointer;
        }
        #shuliang{
            font-size: 12px;
            padding-left: 25px;
            float: left;
            padding-right: 60px;
            padding-top: 25px;
        }
        #counter{
            float: left;
            margin-top: 20px;
        }
        #counter span{
            width: 26px;
            height: 28px;
            display: inline-block;
            border: 1px solid #cecbc5;
            line-height: 28px;
            text-align: center;
            float: left;
            cursor: pointer;
        }
        #counter input{
            width: 53px;
            height: 28px;
            border: 1px solid #cecbc5;
            float: left;
            line-height: 28px;
            text-align: center;
        }
        #kucun{
            padding-left: 25px;
            padding-top: 25px;
            float: left;
            font-size: 12px;
        }
        #bb{
            font-size: 12px;
            padding-left: 112px;
        }
        #selectJinghanliang{
            font-size: 16px;
            color: #ff9003;
            padding-left: 15px;
        }
        button{
            width: 150px;
            height: 40px;
            border: 1px solid #ff0754;
            border-radius: 5px;
            margin-top: 15px;
        }
        #button1,#button3{
            margin-left: 25px;
            margin-right: 20px;
            background-color: white;
            color: #ff0754;
        }
        #button2,#button4{
            background-color: #ff0754;
            color:white;
        }
        #mengzhao{
            background-color: #dedcd8;
            position: fixed;
            top:0;
            left: 0;
            width: 100%;
            height: 900px;
            display: none;
            z-index: 3;
            opacity:0.8;
            filter:Alpha(opacity=80);
        }
        #tankuang{
            position: fixed;
            top:160px;
            left: 430px;
            width: 400px;
            height: 223px;
            background-color: white;
            border: 2px solid #aca9d3;
            display: none;
            z-index: 4;
        }
        #tankuang img{
            padding-top: 20px;
        }
        #chahao{
            position: fixed;
            top:170px;
            left: 810px;
            cursor: pointer;
        }

        /*页面下边部分*/
        #topOfBase{
            width:1180px;
            float: left;
            background-color: white;
            position:relative;
            top:0px;
            left:60px;
        }
        #topOfBase img{
            float: left;
        }
        #topOfBase table{
            float: left;
            font-size: 12px;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 22px;
        }
        .smallFontOfBase td{
            padding-top: 10px;
        }
        #topOfBase table td{
            padding-left: 30px;
            padding-right: 30px;
        }
        #topOfBase table td a{
            color: #74736d;
        }
        #topOfBase #biggerFontOfBase td a{
            font-size: 16px;
            color: black;
        }
        #topOfBase #erweima{
            padding-left: 70px;
            padding-top: 30px;
        }
        #smallDivOfBase{
            float: left;
            border-bottom: 1px solid #ebeae8;
            width:1028px;
            height: 181px;
        }
        #middleOfBase{
            width:1180px;
            height: 108px;
            float: left;
            position:relative;
            top:0px;
            left:60px;
        }
        #middleOfBase ul{
            text-align: center;
            width:653px;
            height: 21px;
            margin-left: 238px;
            margin-top: 15px;
        }
        #middleOfBase ul li{
            float: left;
            padding-left: 12px;
            padding-right: 12px;
            border-right: 1px solid #ebeae8;
        }
        #middleOfBase ul li:last-child{
            border-right: 1px solid white;
        }
        #middleOfBase ul li a{
            color: #74736d;
            font-size: 12px;
        }
        #middleOfBase span{
            color: #74736d;
            font-size: 12px;
            padding-left: 350px;
            padding-bottom: 10px;
        }
        #middleOfBase #zhongjiawenzi{
            padding-left: 100px;
        }
        #middleOfBase #xiabianwenzi{
            padding-left: 500px;
        }
        #bottomOfBase{
            width:1180px;
            height: 58px;
            float: left;
            position:relative;
            top:0px;
            left:40px;
        }
        #bottomOfBase ul{
            padding-left: 220px;
        }
        #bottomOfBase ul li{
            float: left;
        }
        #baidi{
            width: 1280px;
            height: 348px;
            background-color: white;
            position:relative;
            top:0px;
            left: -60px;

        }


        